<p>
    filter-flight-list works!
</p>

<form [formGroup]="stateForm">
    <mat-form-field>
        <input type="text"  matInput placeholder="City From" formControlName="stateGroup" required [matAutocomplete]="autoGroup">
        <mat-autocomplete #autoGroup="matAutocomplete">
            <mat-optgroup *ngFor="let group of stateGroupOptions | async" [label]="group.letter">
                <mat-option (onSelectionChange)="CityFromSelectedEvent(name)"  *ngFor="let name of group.names" [value]="name">
                    {{name}}
                </mat-option>
            </mat-optgroup>
        </mat-autocomplete>
    </mat-form-field>
</form>
